<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" dir="ltr" prefix="og: http://ogp.me/ns#">

<head>
    <!-- Basic -->
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Apple Store</title>

    <!-- slider stylesheet -->
    
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-4CfUPPxAiAjU/gxp6UPLp6mYJ6U0Onm1x5PRXJD5D5q5B5/5bupcOyP8KthtdNzDbOxyNawZUm/lDkMVxhZVg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="~/Content/footer_main.css" />
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap"
          rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/ReponsiveSty.css" rel="stylesheet" />
    <!-- responsive style -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          crossorigin="anonymous" />

</head>

<body class="sub_page">

    @{ Html.RenderAction("MenuView", "Home"); }
    @RenderBody()
    <script>
        !function (s, u, b, i, z) { var o, t, r, y; s[i] || (s._sbzaccid = z, s[i] = function () { s[i].q.push(arguments) }, s[i].q = [], s[i]("setAccount", z), r = ["widget.subiz.net", "storage.googleapis" + (t = ".com"), "app.sbz.workers.dev", i + "a" + (o = function (k, t) { var n = t <= 6 ? 5 : o(k, t - 1) + o(k, t - 3); return k !== t ? n : n.toString(32) })(20, 20) + t, i + "b" + o(30, 30) + t, i + "c" + o(40, 40) + t], (y = function (k) { var t, n; s._subiz_init_2094850928430 || r[k] && (t = u.createElement(b), n = u.getElementsByTagName(b)[0], t.async = 1, t.src = "https://" + r[k] + "/sbz/app.js?accid=" + z, n.parentNode.insertBefore(t, n), setTimeout(y, 2e3, k + 1)) })(0)) }(window, document, "script", "subiz", "acrrpckibjhrkknasqij");
    </script>

    <!-- footer section -->
    <footer>
        <div class="footer-content">
            <nav class="footer-menu">
                <div class="footer-col">
                    <div class="item">
                        <input type="checkbox" id="products">
                        <div class="col-section">
                            <label for="products">
                                <h3>Shop and learn</h3>
                            </label>
                            <ul class="product-list">
                                <li><a href="#">Mac</a></li>
                                <li><a href="#">iPad</a></li>
                                <li><a href="#">iPhone</a></li>
                                <li><a href="#">Watch</a></li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer-col">
                    <div class="item">
                        <input type="checkbox" id="store">
                        <div class="col-section">
                            <label for="store">
                                <h3>Apple Store</h3>
                            </label>
                            <ul class="product-list">
                                <li><a href="#">Find a Store</a></li>
                                <li><a href="#">Genius Bar</a></li>
                                <li><a href="#">Today at Apple</a></li>
                                <li><a href="#">Apple Camp</a></li>
                                <li><a href="#">Field Trip</a></li>
                                <li><a href="#">Apple Store App</a></li>
                                <li><a href="#">Refurbished and Clearance</a></li>
                                <li><a href="#">Financing</a></li>
                                <li><a href="#">Reuse and Recycling</a></li>
                                <li><a href="#">Order Status</a></li>
                                <li><a href="#">Shopping Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-col">
                    <div class="item">
                        <input type="checkbox" id="education">
                        <div class="col-section">
                            <label for="education">
                                <h3>For Education</h3>
                            </label>
                            <ul class="product-list">
                                <li><a href="#">Apple and Education</a></li>
                                <li><a href="#">Shop for College</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item item-padding-top">
                        <input type="checkbox" id="business">
                        <div class="col-section">
                            <label for="business">
                                <h3>For Business</h3>
                            </label>
                            <ul class="product-list">
                                <li><a href="#">Apple and Business</a></li>
                                <li><a href="#">Shop for Business</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer-col">
                    <div class="item">
                        <input type="checkbox" id="account">
                        <div class="col-section">
                            <label for="account">
                                <h3>Account</h3>
                            </label>
                            <ul class="product-list">
                                <li><a href="#">Manage Your Apple ID</a></li>
                                <li><a href="#">Apple Store Account</a></li>
                                <li><a href="#">iCloud.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item item-padding-top">
                        <input type="checkbox" id="values">
                        <div class="col-section">
                            <label for="values">
                                <h3>Apple Values</h3>
                            </label>
                            <ul class="product-list">
                                <li><a href="#">Accessibility</a></li>
                                <li><a href="#">Education</a></li>
                                <li><a href="#">Environment</a></li>
                                <li><a href="#">Inclusion and Diversity</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Supplier Responsibility</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer-col">
                    <div class="item">
                        <input type="checkbox" id="about">
                        <div class="col-section">
                            <label for="about">
                                <h3>About Apple</h3>
                            </label>
                            <ul class="product-list">
                                <li><a href="#">Newsroom</a></li>
                                <li><a href="#">Apple Leadership</a></li>
                                <li><a href="#">Job Opportunities</a></li>
                                <li><a href="#">Investors</a></li>
                                <li><a href="#">Events</a></li>
                                <li><a href="#">Contact Apple</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <section class="footer-base">
                <div class="footer-more-ways" x-ms-format-detection="none">
                    More ways to shop: Visit an <a href="/retail/">Apple Store</a>, <span class="nowrap">call 1-800-MY-APPLE, or <a href="#">find a reseller</a></span>.
                </div>
                <div class="footer-legal">
                    <div class="footer-legal-copyright">Copyright © 2018 Apple Inc. All rights reserved.</div>
                    <div class="footer-legal-links">
                        <a href="#">Privacy Policy</a>
                        <a href="#">Terms of Use</a>
                        <a href="#">Sales and Refunds</a>
                        <a href="#">Legal</a>
                        <a href="#">Site Map</a>
                    </div>
                </div>
            </section>
        </div>
    </footer>

</body>
</html>

<style>
         Font family 
            body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        }
    .store_section .store_container .box {
        background: #323232;
    }
    .collapse {
        margin: -8px;
    }
    
         Footer section 
            footer {
            font-size: 14px;
            line-height: 1.5;
            color: #999;
        }

            footer h3 {
                font-weight: 600;
                font-size: 16px;
                color: #333;
            }

            footer a {
                color: #999;
                text-decoration: none;
            }

                footer a:hover {
                    color: #666;
                }
   
        .site-footer {
            background-color: #222;
            padding: 45px 0 20px;
            font-size: 15px;
            line-height: 24px;
            color: #737373;
        }

            .site-footer h3 {
                color: #fff;
                font-size: 18px;
                font-weight: 400;
                line-height: 1.5em;
                margin-bottom: 20px;
            }
        .footer-links {
            text-align: center;
        }

        .footer-links li {
            display: inline-block;
            margin-right: 0 10px;
        }

            .footer-links li:last-child {
                margin-right: 0;
            }

        .footer-links a {
            color: #737373;
            text-decoration: none;
        }

            .footer-links a:hover {
                color: #fff;
            }
         Enđ Footer section 


            .contact-info {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .contact-info li {
                margin-bottom: 10px;
            }

            .contact-info i {
                font-size: 20px;
                margin-right: 10px;
                color: #fff;
                vertical-align: middle;
            }

            .contact-info a {
                color: #737373;
                text-decoration: none;
            }

                .contact-info a:hover {
                    color: #fff;
                }
</style>