@model IEnumerable<Project.Models.Loai>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-4CfUPPxAiAjU/gxp6UPLp6mYJ6U0Onm1x5PRXJD5D5q5B5/5bupcOyP8KthtdNzDbOxyNawZUm/lDkMVxhZVg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<section class="nav_section">
    <div class="container">
        <div class="custom_nav2">
            <nav class="navbar navbar-expand custom_nav-container ">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav ">
                            <li class="nav-item menu">
                                <a class="nav-link" href="/Home/Index">
                                    <img src="~/Content/image/logomm.jpg " class="logo">
                                </a>
                            </li>

                            <li class="nav-item menu">
                                <a class="nav-link" href="/Home/Store">Store</a>
                            </li>
                            @foreach (var item in Model)
                            {
                                <li class="nav-item menu">
                                    <a class="nav-link" href="/danhmuc/index/@item.maloai">@item.tenloai </a>
                                </li>


                            }


                            <li class="nav-item menu">
                                <a class="nav-link shopping-cart" href="/GioHang/GioHang">
                                    <i class="fa fa-shopping-bag shoppingbag"></i>
                                    @if (ViewBag.CountCart != 0 && ViewBag.TotalPrice != 0 && Session["TaiKhoan"] != null)
                                    {
                                        <span class="total-price">@String.Format("{0:0,0}", ViewBag.TotalPrice)&#8363</span>

                                        <span class="number">@ViewBag.CountCart </span>
                                    }
                                </a>
                            </li>
                            <li class="nav-item">
                                <div class="container-search" id="searchContainer">
                                    <input type="text" name="search" placeholder="Tìm kiếm sản phẩm" class="input" />
                                    <a href="#" class="btn">
                                        <i class="fas fa-search search-sp"></i>
                                    </a>
                                    <div class="sg-search">
                                        <ul class="list-sg-search" id="searchResults">
                                        </ul>
                                    </div>
                                </div>

                            </li>

                            <li class="nav-item menu">
                                @Html.Partial("LoginPartial")


                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        // Gắn sự kiện "keyup" cho ô input tìm kiếm
        $('input[name="search"]').keyup(function (e) {
            var searchTerm = $(this).val();
            if (searchTerm.length > 0) {
                $('.sg-search').addClass('show');
            } else {
                $('.sg-search').removeClass('show');
                return;
            }
            $.ajax({
                url: '/Home/Search',
                type: 'GET',
                data: { searchTerm: searchTerm },
                success: function (data) {
                    var resultsContainer = $('#searchResults');
                    resultsContainer.empty();
                    if (data.length === 0) {
                        $('.sg-search').removeClass('show');
                        return;
                    }
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        resultsContainer.append('<li><a href="/Home/Product_Details/' + item.MaSP + '"><div class="img-search"><img src="/' + item.Hinh + '" alt="' + item.TenSP + '"></div> <div class="text-img"><span>' + item.TenSP + '</span><p><b>' + formatCurrency(item.GiaBan) + '</b><strike> ' + formatCurrency(item.GiamGia) + ' </strike> </p> </div></a></li>');
                    }
                    function formatCurrency(value) {
                        return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                    }
                }
            });
        });

        // Gắn sự kiện "keypress" cho ô input tìm kiếm
        $('input[name="search"]').keypress(function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) { // Kiểm tra nếu là phím Enter
                e.preventDefault(); // Ngăn chặn hành vi mặc định của phím Enter
                var searchTerm = $(this).val();
                if (searchTerm.length > 0) {
                    // Chuyển hướng đến trang kết quả tìm kiếm
                    window.location.href = '/Home/Search?searchTerm=' + searchTerm;
                }
            }
        });
    });
</script>

<script>
    const searchContainer = document.getElementById('searchContainer');
    var searchInput = document.querySelector(".input");

    const navitems = document.querySelectorAll('.menu');
    const search = document.querySelector(".search-sp")
    const sgSearch = document.querySelector('.sg-search');
    const iconTimes = document.querySelector(".fa-times")

    search.addEventListener('click', function () {
        navitems.forEach(function (navitem) {
            navitem.classList.toggle('show');
        });
        search.classList.toggle("fa-times");
        searchContainer.classList.toggle('show')
        sgSearch.classList.remove('show');
        searchInput.focus();

    });
</script>
<style>
    .list-sg-search li {
        display: block;
        overflow: hidden;
        padding: 15px 0 0;
    }

        .list-sg-search li a {
            display: block;
            overflow: hidden;
        }

            .list-sg-search li a .img-search {
                float: left;
                width: 60px;
                margin: 0 17px 0 0;
            }

        .list-sg-search li a {
            display: block;
            width: 100%;
        }

            .list-sg-search li a:hover {
                text-decoration: none;
                background-color: white;
            }

            .list-sg-search li a .text-img {
                display: block;
                overflow: hidden;
            }

            .list-sg-search li a span {
                display: block;
                overflow: hidden;
                color: #222;
                font-size: 14px;
                line-height: 21px;
                padding: 0 0 4px;
            }

            .list-sg-search li a p {
                display: block;
                overflow: hidden;
                color: #444;
                font-size: 15px;
                line-height: 20px;
            }

            .list-sg-search li a b {
                font-size: 18px;
                line-height: 23px;
                color: #222;
            }

    .list-sg-search img {
        width: 50px;
        padding: 5px;
    }

    .list-sg-search li a strike {
        padding: 0 8px;
    }

    .list-sg-search {
        display: block;
        overflow: hidden;
    }

    .sg-search.show {
        display: block;
    }

    .sg-search {
        position: absolute;
        top: 50px;
        width: 531px;
        right: 0;
        left: 0;
        margin: auto;
        padding: 20px 25px;
        border-radius: 0 0 16px 16px;
        background: #fff;
        display: none;
        transition: .5s ease-out;
    }

    .container-search a :hover {
        text-decoration: none;
    }

    .container-search {
        position: relative;
        top: 3px;
        z-index: 999;
        color: white;
    }

    .nav-item.show {
        display: none;
    }

    .container-search .input {
        visibility: hidden;
        background: #e4e6eb;
        border: 0;
        outline: none;
        width: 0px;
        font-weight: 500;
        font-size: 16px;
        transition: ease-in;
        border-radius: 15px;
        color: #312525;
    }

    .container-search.show .input {
        visibility: unset;
        padding-left: 20px;
        width: 500px;
    }

    .container-search .btn .fas {
        color: #fff;
    }

    .logo {
        width: 32px;
        margin: -5px;
        border-radius: 50%;
    }

    .fa-search {
        font-size: 16px;
        color: white;
    }

    .total-price {
        color: #f80909;
        font-size: 14px;
        margin-left: 2px;
    }

    .number {
        background-color: #f80909;
        border-radius: 50%;
        color: #fff;
        display: block;
        font-size: 12px;
        line-height: 15px;
        font-weight: 600;
        width: 16px;
        height: 16px;
        position: absolute;
        bottom: 8px;
        left: 22px;
        text-align: center;
    }

    .btn:focus {
        box-shadow: none;
    }

    .nav-item {
        font-weight: bold;
        font-size: 15px;
    }

    .nav_section .custom_nav2 .custom_nav-container .navbar-nav .nav-item .nav-link {
        padding: 10px 25px;
    }

    .fa-shopping-bag {
        font-size: 20px;
        color: white;
    }

    a:not([href]):not([tabindex]) {
        color: white;
    }
</style>
