<!DOCTYPE html>
<html>
<head>
    <title>Trang Đơn hàng</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/Content/css_admin/style.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .number-status {
            background-color: #f80909;
            border-radius: 50%;
            color: #fff;
            float: right;
            display: block;
            font-size: 14px;
            line-height: 15px;
            font-weight: 600;
            width: 16px;
            height: 16px;
            text-align: center;
        }

        .container {
            text-align: center;
        }

        .cart {
            width: 200px;
            border: 1px solid #ccc;
            padding: 10px;
            display: inline-block;
            margin: 0 auto;
        }

        .status {
            margin-bottom: 5px;
        }

            .status button {
                margin-right: 5px;
            }

        .row {
            display: flex;
            justify-content: center;
        }
        .title {
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
        }

            .title h1 {
                font-size: 28px;
                color: #333;
            }

    </style>
</head>
<body>
    <div class="container-fluid px-4">
        <div class="title">
            <h1>Đơn hàng của bạn</h1>

        </div>

        <div class="row">

            <div class="back-to-shop"><a class="back" href="/Home/Store">&leftarrow;Mua thêm sản phẩm khác</a></div>
            <div class="col-xl-3 col-md-6">

                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">
                        Đơn Hàng Mới
                        @if (ViewBag.CountChoXacNhan > 0 && Session["TaiKhoan"] != null)
                        {
                            <span class="number-status">@ViewBag.CountChoXacNhan</span>
                        }
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/GioHang/TrangThaiDonHang?trangthai=Đơn%20hàng%20mới">Xem chi tiết</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">
                        Đang Giao Hàng
                        @if (ViewBag.CountDangGiaoHang > 0 && Session["TaiKhoan"] != null)
                        {
                            <span class="number-status">@ViewBag.CountDangGiaoHang</span>
                        }
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/GioHang/TrangThaiDonHang?trangthai=Đang%20xử%20lý">Xem chi tiết</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">
                        Hoàn tất
                        @if (ViewBag.CountHoanTat > 0 && Session["TaiKhoan"] != null)
                        {
                            <span class="number-status">@ViewBag.CountHoanTat</span>
                        }
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/GioHang/TrangThaiDonHang?trangthai=Hoàn%20tất">Xem chi tiết</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>

            </div>

        </div>


    </div>
</body>
</html>
