@model List<System.Linq.IGrouping<int, Project.Models.Store_Category>>

@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

<h3>Thông tin đơn hàng:</h3>
<table class="table product-table">
    <thead>
        <tr>
            <th>Mã Đơn</th>
            <th>Tên sản phẩm</th>
            <th>Số Sản Phẩm</th>
            <th>Hình ảnh</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderGroup in Model)
        {
            var firstOrder = orderGroup.First();
            <tr>
                <td>Mã đơn: <a href="@Url.Action("ChiTietDonHang", "Admin", new { maDonHang = firstOrder.Madon })">@firstOrder.Madon</a></td>
                <td>@firstOrder.TenSP</td>
                <td>@orderGroup.Count()</td> <!-- Số lượng sản phẩm của mỗi nhóm -->
                <td><img src="/@firstOrder.Hinh" style="width: 80px;" /></td>
            </tr>
        }
    </tbody>
</table>
