@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<body>
    @*dem thoi gian mo khoa dang nhap*@
    @if (TempData["ThongBaoKhoa"] != null)
    {
        <div class="alert alert-info">
            @TempData["ThongBaoKhoa"]
            <br />
            <span id="countdown"></span>
        </div>
    }
    @{
        var thongBao = Session["ThongBao"] as string;
    }
    <!-- thong bao dang nhap thanh cong -->
    @if (!string.IsNullOrEmpty(thongBao))
    {
        <div id="alertContainer" class="alert alert-info">
            @thongBao
        </div>

        <script>
            setTimeout(function () {
                var alertContainer = document.getElementById('alertContainer');
                if (alertContainer) {
                    alertContainer.style.display = 'none';
                }
            }, 2000);
        </script>
    }

    <div class="hero_area">
        <!-- header section strats -->
        <!-- end header section -->
        <!-- slider section -->
        <section class=" slider_section position-relative">
            <div id="carouselExampleControls" class="carousel slide "
                 data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="img-box">
                            <img src="~/Content/images/hero_iphone14__fjmsqstr1ceq_small_2x.jpg"
                                 alt="">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-box">
                            <img src="~/Content/images/hero_stainless__ycqwtfnl1wyq_small_2x.jpg"
                                 alt="">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-box">
                            <img src="~/Content/images/mac_mini__d3310qb7lt6q_small_2x.jpg"
                                 alt="">
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls"
                   role="button" data-slide="prev">
                    <span class="sr-only"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls"
                   role="button" data-slide="next">
                    <span class="sr-only"></span>
                </a>
            </div>
        </section>
        <!-- end slider section -->
    </div>
    <div>
        <div class="dd-container">
            <div class="dd-hello-video">
                <div class="dd-video">
                    <video role="img" playsinline="true" preload="metadata" class="" muted="" poster="" aria-label="Chào mừng tời Apple Store" autoplay="autoplay" height="350" loop style="width: 100%;">
                        <source src="~/Content/video_intro/hello-video-202305.mp4" type="video/mp4">

                        <param name="src" value="#">
                        <param name="scale" value="aspect">
                        <param name="showlogo" value="false">
                        <param name="bgcolor" value="white">
                        <param name="autoplay" value="true">
                        <param name="controller" value="false">
                        <param name="loop" value="false">
                        <param name="postdomevents" value="true">
                        <param name="enablejavascript" value="true">
                        <param name="wmode" value="transparent">
                        <param name="kioskmode" value="true">
                        <param name="saveembedtags" value="true" />
                    </video>

                </div>
            </div>
        </div>
    </div>
    <section class="shop_section layout_padding">
        <div class="container">
            <div class="box">
                <div class="detail-box">
                    <h2>
                        Apple Store
                    </h2>
                    <p>
                    </p>
                </div>
                <div class="img-box">
                    <img src="~/Content/images/macminim1mgnr3saathumb600x600-16524332710.jpg"
                         alt="">
                </div>
                <div class="btn-box">
                    <a href="@Url.Action("Store","Home")">
                        Shop Now
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="about_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 px-0">
                    <div class="img-box">
                        <img src="~/Content/images/m_macmini.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="detail-box">
                        <div class="heading_container">
                            <hr>
                            <h2>
                                About Our Store
                            </h2>
                        </div>

                        <a href="https://www.apple.com/">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="gifts">
                    <div class="titleGifts">
                        <h4>
                            It's treat yourself
                            <br />season.
                        </h4>

                    </div>
                    <img src="~/Content/images/gifts.jpg" alt="Gifts">
                </div>
            </div>
            <div class="col-md-6">
                <div class="iPadAir">
                    <div class="titleIpadAir">
                        <h4>
                            iPad Air
                        </h4>
                        <h5>
                            Powerful. Colorful. Wonderful.
                        </h5>

                    </div>
                    <img src="~/Content/images/ipadair.jpg" alt="iPadAir">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="appleWatch">
                    <div class="titleAppleWatch">
                        <img src="~/Content/images/logo_promo_pride23__cnampkeybsty_small.png"
                             alt="appleWatch" />
                        <h5>
                            The future of health is on your wrist
                        </h5>

                    </div>
                    <img class="aws6" src="~/Content/images/aws6.jpg"
                         alt="AWS6">
                </div>
            </div>
            <div class="col-md-6">
                <div class="appleOne">
                    <div class="titleAppleOne">
                        <img src="~/Content/images/appleone.png"
                             alt="AppleOne" />
                        <h5>
                            Bundle up to six Apple services.
                            <br />And enjoy more for less.
                        </h5>

                    </div>
                    <img class="services"
                         src="~/Content/images/services.jpg" alt="Services">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="appleCard">
                    <div class="titleCard">
                        <img src="~/Content/images/applecard.png"
                             alt="AppleCard" />
                        <h5>
                            <br />
                            Get 3% Daily Cash back on
                            <br />purchases from Apple when
                            <br />you use Apple Card.
                        </h5>

                    </div>
                    <img class="imgCard"
                         src="~/Content/images/applecard.jpg"
                         alt="AppleCard" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="appleCard">
                    <div class="titleCard">
                        <img class="tvplusLogo"
                             src="~/Content/images/logo_tradein__d1fpktgipvki_small.png"
                             alt="AppleTVPlus" />

                        <div class="titleCard">
                            <h5>

                                <br />Upgrade and save. It’s that easy

                            </h5>

                        </div>

                    </div>
                    <img class="tvplus"
                         src="~/Content/images/iphone_tradein_promo__d5au3rkw5kuq_small_2x.jpg"
                         alt="LionBackground">
                </div>
            </div>
        </div>
    </div>

    <!-- end about section -->
    <!-- store section -->
    <!-- end store section -->
    <!-- client section -->

    <section class="client_section layout_padding-bottom">
        <div class="container ">
            <div class="heading_container">
                <h2>
                </h2>
                <hr>
            </div>
            <div id="carouselExample2Controls" class="carousel slide"
                 data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="client_container layout_padding-top">
                            <div class="img-box">
                                <img src="#" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Khải Lê
                                </h5>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="client_container layout_padding-top">
                            <div class="img-box">
                                <img src="#" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Hào Phạm
                                </h5>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="client_container layout_padding-top">
                            <div class="img-box">
                                <img src="#" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Phương Nam
                                </h5>

                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExample2Controls"
                   role="button" data-slide="prev">
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExample2Controls"
                   role="button" data-slide="next">
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </section>

    <!-- end client section -->
    <!-- contact section -->
    <section class="contact_section layout_padding-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-lg-2 col-md-10 offset-md-1">
                    <div class="heading_container">
                        <hr>
                        <h2>
                            Request A call back
                        </h2>
                    </div>
                </div>
            </div>

            <div class="layout_padding2-top">
                <div class="row">
                    <div class="col-lg-4 offset-lg-2 col-md-5 offset-md-1">
                        <form action="">
                            <div class="contact_form-container">
                                <div>
                                    <div>
                                        <input type="text" placeholder="Full Name" />
                                    </div>
                                    <div>
                                        <input type="email" placeholder="Email" />
                                    </div>
                                    <div>
                                        <input type="text" placeholder="Phone Number" />
                                    </div>
                                    <div>
                                        <input type="text" class="message_input"
                                               placeholder="Message" />
                                    </div>
                                    <div>
                                        <button type="submit">
                                            Send
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 px-0">
                        <div class="map_container">
                            <div class="map-responsive">
                                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Hutech"
                                        width="600" height="300" frameborder="0" style="border:0;
                    width: 100%; height:100%" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
<!-- end contact section -->
<style>

    /*cac ham css cho section class="about_section">*/
    .macOS {
        color: white;
    }

    body {
        padding-top: 40px;
        width: 100%;
    }
    /* Shop Online */
    .introShopOnline {
        width: 100%;
        font-size: 14px;
        padding: 12px 0;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        background-color: #F5F5F7;
    }

    .iPhone12 .titleIphone12, .iPhone12Pro .titleIphone12Pro, .titleGifts, .titleIPadAir, .titleAppleWatch, .titleAppleOne, .titleCard, .titleTVPlus {
        padding-top: 20px;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }

    .iPhone12 .imgIphone12 {
        background-color: #FBFBFD;
    }

    .iPhone12Pro .imgIphone12Pro {
        background-color: #000000;
    }

    .titleContent {
        color: #707070;
    }

    .titleIphone12Pro {
        color: white;
    }

    .rs1 {
        line-height: 12px;
    }

    .Fitnessplus {
        padding-top: 40px;
        text-align: center;
        background-color: #FBFBFD;
    }

    .titleFitnessPlus {
        padding-bottom: 25px;
    }

    .Fitnessplus .macOSLogo {
        color: black;
    }

    .gifts .links, .iPadAir .links, .links, .appleOne .links, .appleCard .links {
        font-size: 17px;
    }


    .gifts, .iPadAir {
        height: 534px;
        padding-top: 40px;
        margin: 10px 0px 10px -10px;
        text-align: center;
    }

        .gifts h4, .iPadAir h4 {
            font-size: 40px;
        }

    .gifts, .iPadAir {
        background-color: #FBFBFD;
    }

    .appleWatch, .appleOne {
        height: 534px;
        margin: 0px 0px 10px -10px;
        padding-top: 40px;
        text-align: center;
    }

    .appleWatch {
        background-color: black;
    }

        .appleWatch h5 {
            color: white;
        }

    .appleOne {
        background-color: #FBFBFD;
    }

    .gifts img, .iPadAir img, appleOne .services, .appleCard .card {
        height: 493px;
        width: 577px;
    }

    .appleWatch .aws6, .appleOne .services {
        padding-top: 152px;
    }

    .appleCard, .appleTVPlus {
        height: 545px;
        margin: 0px 0px 10px -10px;
        text-align: center;
    }

    .appleTVPlus {
        background-color: #FBFBFD;
    }

    .appleCard {
        background-color: #FBFBFD;
    }

    .titleCard {
        color: black;
    }

    .card {
        text-align: center;
    }

    .titleCard {
        color: black;
    }

    .tvplus {
        height: 100%;
        width: 100%;
    }

    .imgCard {
        height: 100%;
        width: 100%;
    }

    .footerImg {
        position: relative;
        top: 245px;
        color: white;
    }

        .footerImg .links a {
            color: white;
        }
</style>
<script type="text/javascript" src="~/Content/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/custom.js"></script>
