
@if (Session["NhanVien"]!=null)
{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero_area">
    <!-- header section strats -->
    <div class="brand_box">
        <a class="navbar-brand" href="index.html">

        </a>
    </div>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
        <div id="carouselExampleControls" class="carousel slide "
             data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="img-box">
                        <img src="~/Content/images/hero_iphone14__fjmsqstr1ceq_medium_2x.jpg"
                             alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="img-box">
                        <img src="~/Content/images/promo_apple_watch_se__f9702l6odgi2_small_2x.jpg"
                             alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="img-box">
                        <img src="~/Content/images/promo_ipadpro__ch217v9v7no2_small_2x.jpg"
                             alt="">
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls"
               role="button" data-slide="prev">
                <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls"
               role="button" data-slide="next">
                <span class="sr-only"></span>
            </a>
        </div>
    </section>
    <!-- end slider section -->
</div>
<section class="shop_section layout_padding">
    <div class="container">
        <div class="box">
            <div class="detail-box">
                <h2>
                    Apple Store
                </h2>
                <p>
                </p>
            </div>
            <div class="img-box">
                <img src="~/Content/images/macminim1mgnr3saathumb600x600-16524332710.jpg"
                     alt="">
            </div>
            <div class="btn-box">
                <a href="">
                    Buy Now
                </a>
            </div>
        </div>
    </div>
</section>

<section class="about_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 px-0">
                <div class="img-box">
                    <img src="~/Content/images/m_macmini.jpg" alt="">
                </div>
            </div>
            <div class="col-md-5">
                <div class="detail-box">
                    <div class="heading_container">
                        <hr>
                        <h2>
                            About Our store Shop
                        </h2>
                    </div>

                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
<!-- store section -->

<section class="store_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <hr>
            <h2>
                Store
            </h2>
        </div>
    </div>

    <div class="container-fluid">
        <div class="store_container">
            @{
                if (ViewBag.iPhone != null)
                {
                    foreach (var item in ViewBag.iPhone)
                    {
                        <div class="box">
                            <img src="/@item.hinh" style="width:200px" />
                            <div class="link_box">
                                <h5>
                                    @item.ten
                                </h5>
                                <a href="">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
    <h2></h2>
    <div class="container-fluid">
        <div class="store_container">
            @{
                if (ViewBag.mac != null)
                {
                    foreach (var item in ViewBag.mac)
                    {
                        <div class="box">
                            <img src="/@item.hinh" style="width:200px" />
                            <div class="link_box">
                                <h5>
                                    @item.ten
                                </h5>
                                <a href="">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</section>

<!-- end store section -->
<!-- client section -->

<section class="client_section layout_padding-bottom">
    <div class="container ">
        <div class="heading_container">
            <h2>
            </h2>
            <hr>
        </div>
        <div id="carouselExample2Controls" class="carousel slide"
             data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="client_container layout_padding-top">
                        <div class="img-box">
                            <img src="#" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Khải Lê
                            </h5>
                            <p>
                                <img src="~/Content/images/left-quote.png" alt="">
                                <span>

                                </span>
                                <img src="~/Content/images/right-quote.png" alt=""> <br>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_container layout_padding-top">
                        <div class="img-box">
                            <img src="#" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Hào Phạm
                            </h5>
                            <p>
                                <img src="~/Content/images/left-quote.png" alt="">
                                <span>

                                </span>
                                <img src="~/Content/images/right-quote.png" alt=""> <br>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_container layout_padding-top">
                        <div class="img-box">
                            <img src="#" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Phương Nam
                            </h5>
                            <p>
                                <img src="~/Content/images/left-quote.png" alt="">
                                <span>

                                </span>
                                <img src="~/Content/images/right-quote.png" alt=""> <br>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExample2Controls"
               role="button" data-slide="prev">
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExample2Controls"
               role="button" data-slide="next">
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
</section>

<!-- end client section -->
<!-- contact section -->
<section class="contact_section layout_padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-lg-2 col-md-10 offset-md-1">
                <div class="heading_container">
                    <hr>
                    <h2>
                        Request A call back
                    </h2>
                </div>
            </div>
        </div>

        <div class="layout_padding2-top">
            <div class="row">
                <div class="col-lg-4 offset-lg-2 col-md-5 offset-md-1">
                    <form action="">
                        <div class="contact_form-container">
                            <div>
                                <div>
                                    <input type="text" placeholder="Full Name" />
                                </div>
                                <div>
                                    <input type="email" placeholder="Email" />
                                </div>
                                <div>
                                    <input type="text" placeholder="Phone Number" />
                                </div>
                                <div>
                                    <input type="text" class="message_input"
                                           placeholder="Message" />
                                </div>
                                <div>
                                    <button type="submit">
                                        Send
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 px-0">
                    <div class="map_container">
                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Hutech"
                                    width="600" height="300" frameborder="0" style="border:0;
                    width: 100%; height:100%" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact section -->
<!-- info section -->

<section class="info_section layout_padding">
    <div class="container">
        <div class="info_logo">

        </div>
        <div class="info_contact">
            <div class="row">
                <div class="col-md-4">
                    <a href="">
                        <img src="~/Content/images/location.png" alt="">
                        <span>
                            Hutech University
                        </span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="">
                        <img src="~/Content/images/call.png" alt="">
                        <span>
                            Call : 0901057398
                        </span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="">
                        <img src="~/Content/images/mail.png" alt="">
                        <span>
                            khaile.huynhduy@gmail.com

                        </span>

                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="info_form">
                    <form action="">
                        <input type="text" placeholder="Enter your email">
                        <button>
                            subscribe
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="info_social">
                    <div>
                        <a href="">
                            <img src="~/Content/images/facebook-logo-button.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="~/Content/images/twitter-logo-button.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="~/Content/images/linkedin.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="~/Content/images/instagram.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- end info section -->
<!-- footer section -->
<section class="container-fluid footer_section ">
</section>
<!-- footer section -->

<script type="text/javascript" src="~/Content/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/custom.js"></script>
